@font-face {
    font-family: 'Jalnan Gothic';
    src: url('./JalnanGothicTTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Galmuri14';
    src: url('./Galmuri14.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  