.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}


.consent-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 0 20px;
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.consent-title {
  color: black;
  font-family: 'Jalnan Gothic', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.consent-text-frame {
  border-radius: 5px;
  border: 0.6px solid #7C7C7C;
  height: 280px;
  overflow-y: scroll;
  padding: 15px 20px;
  background: #fff;
  margin-bottom: 25px;
  line-height: 1.6;
  white-space: pre-wrap;
  width: 100%;
  max-width: 700px;
}

.consent-form {
  width: 100%;
  max-width: 700px;
}

.consent-form label {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  cursor: pointer;
}

.consent-form input[type="checkbox"] {
  margin-right: 10px;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  cursor: pointer;
}

/* 버튼 그룹 스타일 */
.button-group {
  display: flex;
  justify-content: space-between;
  
  margin-top: 20px;
}

/* 이미지 버튼 기본 스타일 */
.img-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* 이미지 크기 조절 */
.img-button img {
  width: 70%; /* 원하는 크기로 조절 */
  height: auto;
  display: block;
}
