
.landing-container {
    height: 100vh;  /* 화면 전체 높이 */
    background: linear-gradient(259deg, #EC1333 -21.78%, #0B1215 81.07%);
    display: flex;
    justify-content: center;
    align-items: center;
    /*color: white; */
    font-size: 2rem;
    position: relative;
    flex-direction: column;
    
  }

  .landingText{
    text-align: center;
    top:-25%;
    position: relative;
  }
  
  /* 메인 텍스트 */
.MainText {
    text-align: center;
    top:-5%;
    position: relative;
    color: #FFF;
    font-family: "Jalnan Gothic", sans-serif;
    font-size: 78px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
  }
  
  /* 서브 텍스트 (슬로건) */
  .SubText {
    text-align: center;
    top:-5%;
    position: relative;
    color: #FFF;
    font-family: "Galmuri14", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-top: 20px; /* 위에서 적당히 띄우기 */
  }

  .start-button {
    width: 214px;
    height: 67px;
    top:10%;
    border: none;
    background: none;
    position: relative; /* 내부 요소(.start-heart 등)를 절대 위치로 배치할 수 있게 함 */
    display: flex; /* 버튼 내부의 요소를 수평/수직 정렬하기 위해 Flexbox 사용 */
    justify-content: center; /* 내부 요소를 가로 가운데 정렬 */
    align-items: center; /* 내부 요소를 세로 가운데 정렬 */
    
  }


  .start-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .start-text {
    color: #FFF;
    position: relative;
    z-index: 2;
    font-family: "Jalnan Gothic";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  /* .start-heart {
    position: relative;
    z-index: 2;
    margin-left: 8px;
    width: 24px;
    height: auto;
  } */

 .landingItem1 {
    position: absolute;
    bottom: 15%;
    left: 20%;
    width: 10%;
    height: 17%;
    flex-shrink: 0;
 }

 
 .landingItem2 {
    position: absolute;
    bottom: 70%;
    left: 10%;
    width: 20%;
    height: 20%;
    flex-shrink: 0;
 }

 
 .landingItem3 {
    position: absolute;
    bottom: 30%;
    left: 10%;
    width: 10%;
    height: 10vh;
    flex-shrink: 0;
 }

 
 .landingItem4 {
    position: absolute;
    width: 17%;
    height: 17%;
    bottom: 0;
    flex-shrink: 0;
 }

 .landingItem5 {
  position: absolute;
  right: 0%;
  width: 30%;
  height: 30%;
  bottom: 30%;
  flex-shrink: 0;
}

  .landingItem6 {
    position: absolute;
    bottom: 80%;
    right: 20%;
    width: 10%;
    height: 3%;
    flex-shrink: 0;
  }

  .landingItem7 {
    position: absolute;
    bottom: 67%;
    right: 17%;
    width: 10%;
    height: 10%;
    flex-shrink: 0;
  }
 



  